<!--
<div *ngFor="let teamInfo of teams">
  <div class="">
    <h5>{{ teamInfo.name }}</h5>
    <p>{{ teamInfo.code }}</p>
  </div>
</div>
-->
<div
  class="grid h-screen w-screen grid-cols-2 justify-center content-center gap-12"
>
  <div class="">
    <button class="">
      <h1>Europe</h1>
      <img src="../../assets/continentPics/224029-200.png" alt="" />
    </button>
  </div>
  <div>
    <button class="">
      <h1>USA</h1>
      <img src="../../assets/continentPics/4818169-200.png" alt="" />
    </button>
  </div>
</div>
